*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* START */
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: 'Aprila', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.logo {
    position: relative;
    top: 5px;
    left: 80px;
    height: 210px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 2rem;
}

.register {
    position: absolute;
    top: 100px;
    right: 80px;
}

.register a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    background: indianred;
}

.register a:hover {
    border: 1px solid indianred;
    background: transparent;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    width: 120px;
}

.hide {
    display: none;
}

.logohero1:hover + .hide,
.logohero2:hover + .hide,
.logohero3:hover + .hide,
.logohero4:hover + .hide,
.logohero5:hover + .hide {
    display: block;
    font-size: 13px;
    font-family: 'Aprila', sans-serif; 
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.logohero1, .logohero2, .logohero3, .logohero4, .logohero5 {
    height: 60px;
    margin-top: 4rem;
    position: relative;
    margin-right: 14rem;
}

.menu .logohero1:hover,
.menu .logohero2:hover,
.menu .logohero3:hover,
.menu .logohero4:hover,
.menu .logohero5:hover {
    border: 1px solid indianred;
    border-radius: 6rem;
    background: indianred;
    padding: 10px;
}

/* Specific sizes for each logo */
.logohero2 {
    height: 80px;
}

.logohero3 {
    height: 75px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-right: 14rem;
}

/* END */





 body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: linear-gradient(to bottom right, #546fff, #8be1fd);
}
.container {
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .card-Hero {
	position: relative;
	width: 600px;
	height: 350px;
	margin: 20px;
	display: flex;
	transition: 0.5s;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(89deg,#000,#064c67);
	border-radius: 15px;
}	
.container .card-Hero img {
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	height:400px;
	transition:0.5s;
}
.container .card-Hero:hover img
{
	left:73%;
	height:500px;
}
.container .card-Hero .content-Hero
{
	position: relative;
	width: 50%;
	left: 20%;
	padding: 20px 20px 20px 40px;
	opacity:0;
	visibility: hidden;
	transition: 0.5s;
	
}
.container .card-Hero:hover .content-Hero
{
	left: 0;
	opacity:1;
	visibility: visible;
	
}
.container .card-Hero .content-Hero h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2em;
}
.container .card-Hero .content-Hero p
{
    color: #fff;
    margin: 6px 0 5px 0;
}
.container .card-Hero .content-Hero a {
	position: relative;
	color: #111;
	background: #fff;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 700;
	border-radius: 5px;
}


@media (max-width: 991px)
{
   .container .card-Hero
   {
	   width:auto;
	   max-width: 600px;
	   align-items:flex-start;
   } 
   .container .card-Hero:hover
   {
	   height: 600px;  
   } 
   .container .card-Hero:hover img
   {
       left: 50%;
	   height: 350px;
   }   
   .container .card-Hero .content-Hero
   {
	   width:100%;
	   left: 0;
	   padding: 40px;
   }
}

@media (max-width: 767px)
{
	.container
	{
		flex-direction: column;		
	}
	.container .card-Hero
	{
		margin:40px 20px;
	}
}

@media (max-width: 420px)
{
	.container .card-Hero .content-Hero
	{
		padding:30px;
	}
	.container .card-Hero:hover img
	{
		height: 300px;
	}
}

@media (max-width: 330px)
{
	.container .card-Hero:hover {
		height: 640px;
	}
}